.center {
  margin-left: auto;
  margin-right: auto;
}

.position-absolute {
  position: absolute;

  &.center-y {
    top: 50%;
    transform: translateY(-50%);
  }

  &.center-x {
    left: 50%;
    transform: translateX(-50%);
  }
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.top {
  top: 0;


}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
