@import URL('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-montseratt: 'Montserrat', sans-serif;
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 2.5rem;
  --color-primary: #E86932;
  --color-primary-light: rgba(232, 105, 50, 0.25);
  --color-secondary: #42644B;
  --color-text: #CBCBCB;
  --color-background: rgba(0, 0, 0, 0.5);
  --transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-small);
  color: var(--color-text);
  background-color: black;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }

}


.grid {
  display: grid;

}

#app {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  font-size: 1.75rem;
  text-align: left;
  line-height: 1.6;
}

h1 {
  font-size: var(--font-size-large);
  color: var(--color-primary);
  font-family: var(--font-montseratt);
  text-align: center;
  line-height: 1.1;
}

h2 {
  font-size: var(--font-size-medium);
  color: var(--color-secondary);
  margin-top: 20px;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
  font-size: var(--font-size-small);
  font-family: var(--font-roboto);
}

p {
  font-size: var(--font-size-small);
  font-family: var(--font-roboto);
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: var(--font-size-small);
    line-height: 1.6;
  }

  h {
    line-height: 1.1;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    text-align: left;
  }

  p {
    font-size: 1.75rem;
    text-align: left;
  }
}