:root {
  --input-box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 33%);
}

.card {
  background-color: var(--color-widget-bg);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: calc(var(--border-radius) + 0.5rem);
  border: 1px solid var(--color-border-bright);

  &.dark {
    background-color: var(--color-bg);
    border-color: var(--color-border);
  }

  &.body {
    background-color: var(--color-body-bg);
  }

  &.shadow {
    box-shadow: var(--shadow)
  }
}

.shadow {
  box-shadow: var(--shadow)
}

.shadow-small {
  box-shadow: var(--shadow-small)
}

.shadow-inset {
  box-shadow: var(--shadow-inset)

}
